.page {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 320px;
  grid-template-rows: repeat(4, fit-content(18px));
  justify-content: center;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .page {
    grid-template-areas:
    'header header'
    'main main'
    'footer footer';
    grid-template-columns: repeat(2, fit-content(282px));
    grid-template-rows: repeat(4, fit-content(18px));
  }
}

@media screen and (min-width: 900px) {
  .page {
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
    grid-template-columns: repeat(3, fit-content(282px));
    grid-template-rows: repeat(4, fit-content(18px));
  }
}
