.profile__avatar-edit-button {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  object-fit: contain;
  background-image: url(../../../images/edit-avatar.svg);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .3s ease-out;
}

.profile__avatar-edit-button:hover {
  opacity: 1;
}

