.popup__close-button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  grid-area: 1 / 1 / 2 / -1;
  background-image: url(../../../images/close-button_small.svg);
  background-color: transparent;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (min-width: 940px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(../../../images/close-button.svg);
  }
}
