.like-button__pseudo-item {
  width: 22px;
  height: 19px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  transition: opacity .3s ease-out;
}

.like-button__pseudo-item:hover {
  opacity: 0.5;
}

.like-button__item:checked + .like-button__pseudo-item {
  background-image: url(../../../images/like_black.svg);
}
