.header__logo {
  width: 104px;
  height: 24px;
  margin: 28px 0 31px 27px;
  object-fit: cover;
}

@media screen and (min-width: 864px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 45px 0 41px;
  }
}

