.header {
  min-width: 320px;
  padding: 28px 27px 31px;
  box-sizing: border-box;
  grid-area: header;
  justify-self: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 600px) {
  .header {
    width: 100%;
    padding: 41px 20px 45px;
  }
}
