.profile__add-button {
  width: 282px;
  height: 50px;
  padding: 0;
  margin-top: 36px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/add-button.svg);
  background-size: cover;
  transition: opacity .3s ease-out;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (min-width: 864px) {
  .profile__add-button {
    width: 150px;
    margin: 0;
    background-image: url(../../../images/add-button_small.svg);
  }
}
