.elements {
  padding-top: 36px;
  margin: 0 auto;
  grid-area: elements;
  display: grid;
  grid-template-columns: 282px;
  justify-content: center;
  gap: 20px
}

@media screen and (min-width: 576px) {
  .elements {
    grid-template-columns: repeat(2, 282px);
    gap: 20px 17px;
  }
}

@media screen and (min-width: 864px) {
  .elements {
    grid-template-columns: repeat(3, 282px);
  }
}
