.profile__edit-button {
  width: 18px;
  height: 18px;
  padding: 0;
  margin-left: 10px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/edit-button.svg);
  background-size: cover;
  transition: opacity .3s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (min-width: 940px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin: 6px 0 0 18px;
  }
}
