.popup__submit-button {
  width: 100%;
  height: 46px;
  padding: 0;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: opacity .4s ease-out;
}

.popup__submit-button:enabled:hover {
  opacity: .8;
}

.popup__submit-button_inactive {
  opacity: 0.2;
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 940px) {
  .popup__submit-button {
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
