@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
/* page */
@import url(../blocks/page/page.css);
/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
/* main */
@import url(../blocks/main/main.css);
/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__buton-container/profile__buton-container.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
/* elements */
@import url(../blocks/elements/elements.css);
/* element */
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__content/element__content.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-container/element__like-container.css);
@import url(../blocks/element/__like-button/element__like-button.css);
@import url(../blocks/element/__like-count/element__like-count.css);
@import url(../blocks/element/__like-button/_active/element__like-button_active.css);
@import url(../blocks/element/__delete-button/element__delete-button.css);
/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__set/popup__set.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__item/_type/popup__item_type_error.css);
@import url(../blocks/popup/__item-error/popup__item-error.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/_type/popyp_type_image.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);
