.popup__item {
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__item::placeholder {
  color: #000;
}

.popup__item:last-child {
  margin: 0;
}

.popup__item:focus {
  outline: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
