.element__like-button {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/like.svg);
  background-size: cover;
  transition: opacity .3s ease-out;
}

.element__like-button:hover {
  opacity: .5;
}
